/* Seção contact */
.contact{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    background-image: linear-gradient(to bottom,#001d3d, #7209b7, #120235);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

.contactme{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.contact_container{
    row-gap: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border: 1px solid;
    width: 1100px;
    height: 500px;
}

.contact_information{
    display: flex;
    margin-bottom: 2rem;
    margin-right: 50px;
}

.contact_information ion-icon{
    font-size: 2rem;
    margin-right: .75rem;
}

.contact_title{
    font-size: 1.125rem;
    font-weight: 500;
}

.contact_subtitle{
    font-size: .813rem;
    color: hsl(250, 6%, 61%);
}

.contact_content{
    background-color: hsl(250, 70%, 96%);
    border-radius: .5rem;
    padding: .75rem 1rem .25rem;
}

.contact_label{
    font-size: smaller;
    color: hsl(250, 8%, 15%);
}

.contact_input{
    width: 100%;
    background-color: hsl(250, 70%, 96%);
    color: hsl(250, 8%, 45%);
    font-size: .938rem;
    border: none;
    outline: none;
    padding: .25rem .5rem .5rem 0;
}

/* Login */

.box_contact{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 120px;
    box-shadow: 0px 0px 100px 10px black;
}

.img_contact{
	width: 500px;
}

.container_contact 
{
	position: relative;
	width: 1100px;
	height: 600px;
	background: #a1a1a1;
	border-radius: 8px;
	overflow: hidden;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.container_contact::before 
{
	content: '';
	z-index: 1;
	position: absolute;
	top: -50%;
	left: -50%;
	width: 1100px;
	height: 700px;
	transform-origin: bottom right;
	background: linear-gradient(0deg,transparent,#410096,#410096);
	animation: animate 6s linear infinite;
}
.container_contact::after 
{
	content: '';
	z-index: 1;
	position: absolute;
	top: -50%;
	left: -50%;
	width: 1100px;
	height: 700px;
	transform-origin: bottom right;
	background: linear-gradient(0deg,transparent,#410096,#410096);
	animation: animate 6s linear infinite;
	animation-delay: -3s;
}
@keyframes animate 
{
	0%
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(360deg);
	}
}
form 
{
	position: absolute;
	inset: 5px;
	background: #ffffff;
	padding: 50px 40px;
	border-radius: 8px;
	z-index: 2;
	display: flex;
	flex-direction: column;
    font-size: 15px;
}
h2 
{
    font-size: 26px;
	color: #410096;
	font-weight: 500;
	text-align: center;
	letter-spacing: 0.1em;
}

.contact_iconsImg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}

.contact_iconsImg span{
    margin-top: 40px;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.contact_icons{
    margin-top: 20px;
}

.contact_icons a{
    margin: 20px;
}

.contact_icons a svg{
    color: #410096;
    transition:  0.3s ease-in-out;
}

.contact_icons a svg:hover{
    transform: translateY(-10px);
}

.icon_contact_section{
    width: 30px;
}

.container_contact_form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.form_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}

.inputBox 
{
	position: relative;
	width: 300px;
	margin-top: 35px;
}
.inputBox input 
{
	position: relative;
	width: 100%;
	padding: 20px 10px 10px;
	background: transparent;
	outline: none;
	box-shadow: none;
	border: none;
	color: #ffffff;
	font-size: 1em;
	letter-spacing: 0.05em;
	transition: 0.5s;
	z-index: 10;
}
.inputBox span 
{
	position: absolute;
	left: 0;
	padding: 20px 0px 10px;
	pointer-events: none;
	font-size: 1em;
	color: rgb(19, 19, 19);
	letter-spacing: 0.05em;
	transition: 0.5s;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span 
{
	color: #410096;
	transform: translateX(0px) translateY(-34px);
	font-size: 0.75em;
}
.inputBox i 
{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: #410096;
	border-radius: 4px;
	overflow: hidden;
	transition: 0.5s;
	pointer-events: none;
	z-index: 9;
}
.inputBox input:valid ~ i,
.inputBox input:focus ~ i 
{
	height: 44px;
}

.send_button{
    margin-top: 50px;
}
/* Botão de enviar */

button {
    font-family: inherit;
    font-size: 20px;
    background: #410096;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
}

button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

button:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

button:hover span {
    transform: translateX(5em);
}

button:active {
    transform: scale(0.95);
}

@keyframes fly-1 {
from {
    transform: translateY(0.1em);
}

to {
    transform: translateY(-0.1em);
    }
}


