/* Seção contact */
.contact{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    background-image: linear-gradient(to bottom left, #7f0a9c, #120235);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

.contactme{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}
